<div class="mdui-card postDiv mdui-center mdui-hoverable">
    <div class="mdui-card-actions">
        <a href="#asubmodule_id" class="mdui-text-color-theme-accent ainList">
            <h1>submodule_title</h1>
        </a>
        <div class="mdui-divider underline"></div>
        <audio class="mdui-btn mdui-ripple mdui-ripple-white coun-read mdui-text-color-theme-accent" src="audio_url" type="audio/x-m4a" controls>
            <code> Your browser doesn't support audio tags</code>
        </audio>
    </div>
</div>